<div class="controls">
  <button mat-icon-button color="accent" (click)="save()">
    <mat-icon aria-hidden="false" aria-label="Save" matTooltip="Save data">save</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="load()">
    <mat-icon aria-hidden="false" aria-label="Load" matTooltip="Load previously saved data">refresh</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="clear()">
    <mat-icon aria-hidden="false" aria-label="Delete" matTooltip="Delete saved data">delete</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="download()">
    <mat-icon aria-hidden="false" aria-label="Download" matTooltip="Download the currently saved data">download</mat-icon>
  </button>
</div>
